@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin shadowbot{
    box-shadow: 0 2px 4px #C4C4C4;
    -moz-box-shadow: 0 2px 4px #C4C4C4;
    -webkit-box-shadow: 0 2px 4px #948d8d;
    -ms-box-shadow: 0 2px 4px #C4C4C4;
    -o-box-shadow: 0 2px 4px #C4C4C4;
}

@mixin sitefont{       
    font-family: 'Poppins', sans-serif;
    color:$black;   
    -webkit-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-size:$fsize;
    line-height:$fsize + 10;   
    letter-spacing:0;   
    font-weight:400;
}
