@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.teamSection {
  padding: 25px 0;
}

.teamSection table {
  border-color: #d0d0d0 !important;
}

.teamSection table thead tr {
  background: #008bb2;
}

.teamSection table thead tr th {
  color: #fff;
  border-bottom: none;
  font-weight: normal;
}

.teamSection table td {
  border-color: #d0d0d0 !important;
}

.teamSection table .icomoon {
  font-size: 18px;
}

.teamSection .h3 {
  background: #000;
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
}

.teamSection .teampic {
  width: 56px;
}

.teamSection .value-button {
  display: inline-block;
  border: 1px solid #d0d0d0 !important;
  margin: 0 auto;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.teamSection .value-button:hover {
  background: #008bb2;
  color: #fff;
}

.teamSection .number {
  text-align: center;
  border: none;
  margin: 0 auto;
  width: 22px;
}

.teamSection .number:hover {
  border: none;
}

.teamSection input:focus {
  outline: none;
  border: none;
}

.teamSection .dataTables_length,
.teamSection .dataTables_filter,
.teamSection .dataTables_info,
.teamSection .dataTables_paginate {
  display: none;
}

.teamSection input[type=number]::-webkit-inner-spin-button,
.teamSection input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */