@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
   @include sitefont;
}

*{
    margin:0;
    padding:0;
}

.teamSection{
    padding:25px 0;

    table{
        border-color:lighten($gray, 70)!important;
        thead{
            tr{
                background:$blue;               

                th{
                   color:$white;
                   border-bottom:none;
                   font-weight:normal;
                }
            }
        }
        td{
            border-color:lighten($gray, 70)!important;
        }
        .icomoon{
            font-size:$fsize + 3;
        }

       
    }

    .h3{
        background:$black;
        color:$white;
        padding:20px 0;
        font-size:$fsize + 5;
    }
    .teampic{
        width:56px;

    }
    .value-button {
        display: inline-block;
        border: 1px solid lighten($gray, 70)!important;;
        margin: 0 auto;
        width: 45px;       
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: $white;
       
        cursor: pointer;
        @include transition;
        

        &:hover{
            background:$blue;
            color:$white;
        }
      }

      .number {
        text-align: center;
        border: none;       
        margin: 0 auto; 
        width:22px;   
        
        &:hover{
            border:none;
        }
      }

      input{
          &:focus{
              outline:none;
              border:none;
          }
      }

      .dataTables_length, 
      .dataTables_filter, 
      .dataTables_info, 
      .dataTables_paginate{
          display:none;
      }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
      
}